[submodule "kicad/eurocad"]
	path = kicad/eurocad
	url = https://github.com/nebs/eurocad
[submodule "kicad/3d_models/kicad-3dmodels"]
	path = kicad/3d_models/kicad-3dmodels
	url = git@github.com:dhaillant/kicad-3dmodels.git
[submodule "pico-ssd1306"]
	path = pico-ssd1306
	url = git@github.com:daschr/pico-ssd1306.git
[submodule "pico-sdk"]
	path = pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "Pico-PIO-USB"]
	path = Pico-PIO-USB
	url = git@github.com:sekigon-gonnoc/Pico-PIO-USB.git
